@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    }
    @else if $prefix == moz {
      -moz-#{$property}: $value;
    }
    @else if $prefix == spec {
      #{$property}: $value;
    }
    @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin box-sizing($box) {
  @include prefixer(box-sizing, $box, webkit moz spec);
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin outer-container($local-max-width: $max-width) {
  @include clearfix;
  @include box-sizing(border-box);
  max-width: $local-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin inner-container {
  @include box-sizing(border-box);
  float: left;
  width: 100%;
  padding: 10px;
}
