@import 'variables';
@import 'tools';
@import 'grid';
@import 'graph';

$white: #fff;
$ltGray: #eee;
$medGray: #777;
$drkGray: #2d2d2d;
$black: #000;
$red: #dc143c;
   
body {
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: $drkGray;
}

p {
  line-height: 1.8em;
  text-align: justify;
}

a, a:visited {
  text-decoration: none;
  color: $red;
}
a:hover {
  color: $medGray;
}

ul {
  list-style: none;
  padding: .5em 0 1em 0;
  text-align: center;
}

li {
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}

header {
  @include outer-container;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;

  h1 {
    color: $white;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px $black;
  }

  h3 {
    font-size: 1em;
    font-weight: 400;
    color: $medGray;
  }
}

section {
  @include outer-container;
}

.wrapper {
  @include clearfix;
  @include box-sizing(border-box);
  display: table;
  width: 100%;
  background: -webkit-linear-gradient($drkGray, $black);
  background: -moz-linear-gradient($drkGray, $black);
  background: linear-gradient($drkGray, $black);
  min-height: 160px;
}

#app {
    @include outer-container;
    width: 640px;
}

#game {
    @include outer-container;
    width: 640px;
}

#surface {
    @include box-sizing(border-box);
    border: rgb(200,200,200) 1px solid;
}

#hero {
  padding: 1em 10%;
  @media screen and (max-width: 720px) {
    padding: 1em 5%;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 2px $ltGray;
  }
}

/* #about, #cranes, #contact { */
/*   h2 { */
/*     text-align: center; */
/*     font-size: 2em; */
/*     font-weight: 400; */
/*   } */
/*   @media screen and (max-width: $mobile-width) { */

/*   } */
/* } */
